/******
*
* 首页
*
******/ 

section,
header,
footer {
  margin: 0 auto;
  width: 1000px;
}
/* 顶部 */
.top {
  height: 54px;
  background: #fff;
}
.top__content {
  line-height: 54px;
  font-size: 14px;
}
.top__contact {
  margin-right: 16px;
  font-size: 24px;
  font-family: 'Impact';
  font-weight: 400;
  color: #29c077;
  vertical-align: middle;
}
/* 头部 */
.header {

}
/* 焦点图 */
.main-slider {

}
/* 我们能够解决什么 */
.ability {

}
/* 我们的优势 */
.advantage {

}
/* 我们的服务区域 */
.service {

}
/* 为什么选择我们 */
.reason {

}
/* ABOUT US */
.about {

}
/* 客户为我们代言 */
.customer {

}
/* 合作伙伴 */
.partner {

}
/* 底部 */
.footer {

}